*{margin:0;padding:0;list-style-type:none;}

html, body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;

}

.map-pane{
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

.map-tile-pane{
    border: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    z-index: 0;
}

.map-marker-pane{
    border: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}

.map-tile{
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.map-des{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 30px;
    background-image: url(../img/logo.jpg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: #000;
    color: aqua;
    line-height: 30px;
    text-indent: 34px;
}

.map-marker{
    position: absolute;
}
